@import "node_modules/normalize-scss/sass/normalize";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}
.footer{
  flex: 0 0 auto;
  margin-top: 2em;
  background-color: #EFF5F9;

  .footer_info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  ul{
    align-items: flex-start;
    padding: 10px;
    margin: 2em;
    display: flex;
    flex-direction: column;
  }
  li{
    color: #66727F;
    margin: 5px;
  }
  .social{
    margin-left: 3em;
    display: flex;
    flex-direction: row;
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px;
  .header__nav {
    .nav__list {
      display: flex;
      align-items: center;
      list-style: none;
      margin-left: 6em;
      .nav__item {
          &:not(:first-of-type) {
            margin-left: 4.5em;
          }
        .nav__search-login {
          display: flex;
          align-items: center;

          .login__link {
            margin-left: 2.5em;
            background-color: #FFCB00;
            padding: 12px 16px;
            border-radius: 12px;
          }
        }
      }
    }
  }
}

.container {
  margin: 0 auto;
  max-width: 1220px;
}